@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Fallback sicuro */
body {
  font-family: "Titillium Web", Arial, sans-serif;
}
